@use "../../settings/colors.module.scss" as colors;

.header {
  width: 100%;
  padding: 15px 10%;
  background-color: colors.$orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
